<a href="https://colab.research.google.com/github/Sjleerodls/Data_Analysis/blob/main/lab_da/da03_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [90]:
import pandas as pd
import seaborn as sns

# 예제 데이터셋 가져오기

In [91]:
tips = sns.load_dataset('tips')

In [92]:
tips.head(6)    # tips.iloc[:5] 와 같은 기능

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4

# 연습문제

* DataFrame의 행과 열의 개수
* 열(column) 이름들
* 마지막 6개 행 출력
* DataFrame의 요약 정보
* 숫자 타입 변수(컬럼)의 기술 통계량
* 카테고리 타입 변수의 빈도수
* total_bill 컬럼의 값이 최댓값인 행 출력
* total_bill 컬럼의 값이 최솟값인 행 출력
* 남성들의 tip 평균
* 여성들의 tip 평균
* 일요일의 tip 평균
* 일요일 남성의 tip 평균
* 일요일 여성의 tip 평균

In [107]:
tips.shape  # (244, 7)

(244, 7)

In [110]:
print('# of rows:', tips.shape[0])
print('# of columns:', tips.shape[1])

# of rows: 244
# of columns: 7

In [111]:
tips.columns    # total_bill, tip, sex, smoker, day, time, size : 총 7개

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [113]:
for c in tips.columns:
    print(c)

total_bill
tip
sex
smoker
day
time
size

In [115]:
tips.tail(n=6)

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [117]:
tips.iloc[-6:]

     total_bill   tip     sex smoker   day    time  size
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [96]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [97]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [118]:
print(tips.sex.value_counts())
print(tips.smoker.value_counts())
print(tips.day.value_counts())
print(tips.time.value_counts())

sex
Male      157
Female     87
Name: count, dtype: int64
smoker
No     151
Yes     93
Name: count, dtype: int64
day
Sat     87
Sun     76
Thur    62
Fri     19
Name: count, dtype: int64
time
Dinner    176
Lunch      68
Name: count, dtype: int64

In [122]:
print(tips.size)    # size : 행과 열의 곱
244 * 7

1708

1708

In [123]:
tips['size'].value_counts()     # 무조건 숫자라고해서 숫자형 기술통계가 아니라
                                # 범주형 기술 통계일 수도 있음!!

size
2    156
3     38
4     37
5      5
1      4
6      4
Name: count, dtype: int64

In [99]:
tips.head() # totla_bill 컬럼의 값이 최댓값
max(tips.total_bill)    # 50.81
tips[tips.total_bill == max(tips.total_bill)]

     total_bill   tip   sex smoker  day    time  size
170       50.81  10.0  Male    Yes  Sat  Dinner     3

In [126]:
# total_bill 컬럼의 값이 최솟값
tips.total_bill.min()    # 3.07
tips[tips.total_bill == tips.total_bill.min()]

    total_bill  tip     sex smoker  day    time  size
67        3.07  1.0  Female    Yes  Sat  Dinner     1

In [127]:
tips[(tips.total_bill == tips.total_bill.max()) |
    (tips.total_bill == tips.total_bill.min())]

     total_bill   tip     sex smoker  day    time  size
67         3.07   1.0  Female    Yes  Sat  Dinner     1
170       50.81  10.0    Male    Yes  Sat  Dinner     3

In [101]:
# 남성들의 tip 평균
tips.tip.mean()     # 2. 998
tips.head()
tips[(tips.sex == 'Male')]['tip'].mean()    # 3.09

np.float64(3.0896178343949043)

In [102]:
# 여성들의 tip 평균
tips[(tips.sex == 'Female')]['tip'].mean()  # 2.83

np.float64(2.8334482758620685)

In [130]:
# 일요일의 팁 평균
tips.head()
tips[tips.day == 'Sun'].tip.mean() # 3.26, 일요일

np.float64(3.2551315789473687)

In [131]:
tips[tips.day == 'Sat'].tip.mean()  # 2.99, 토요일

np.float64(2.993103448275862)

In [104]:
# 일요일 남성의 tip 평균
tips.head()
tips[(tips.day == 'Sun') & (tips.sex == 'Male')]['tip'].mean()  # 3.22

np.float64(3.2203448275862065)

In [133]:
# 일요일 여성의 tip 평균
tips[(tips.day == 'Sun') & (tips.sex == 'Female')].tip.mean()    # 3.37

np.float64(3.3672222222222223)

In [136]:
tips[tips.tip > tips.tip.mean()]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[121 rows x 7 columns]

## 파생변수

In [138]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [141]:
tips.tip / tips.total_bill

0      0.059447
1      0.160542
2      0.166587
3      0.139780
4      0.146808
         ...
239    0.203927
240    0.073584
241    0.088222
242    0.098204
243    0.159744
Length: 244, dtype: float64

In [145]:
x = {'a': 1, 'b': 2}
x['c'] = 11 # 새로운 열과 값 추가.
x

{'a': 1, 'b': 2, 'c': 11}

In [148]:
# 데이터프레임에 파생변수(새로운 컬럼) 추가
tips['tip_ration'] = tips.tip / tips.total_bill

In [151]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  tip_ration
0       16.99  1.01  Female     No  Sun  Dinner     2    0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3    0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3    0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2    0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4    0.146808

* 팁/영수증 비율의 평균값
* 팁/영수증 비율이 평균보다 큰 데이터
* 팁/영수증 비율이 평균보다 큰 데이터 중에서 남성/여성의 빈도 수

In [154]:
tips.tip_ration.mean()  # 0.16 => 16%

np.float64(0.16080258172250472)

In [157]:
tips[tips.tip_ration > tips.tip_ration.mean()]  # 평균보다 큰 107개의 행

     total_bill   tip   sex smoker  day    time  size  tip_ration
2         21.01  3.50  Male     No  Sun  Dinner     3    0.166587
5         25.29  4.71  Male     No  Sun  Dinner     4    0.186240
6          8.77  2.00  Male     No  Sun  Dinner     2    0.228050
9         14.78  3.23  Male     No  Sun  Dinner     2    0.218539
10        10.27  1.71  Male     No  Sun  Dinner     2    0.166504
..          ...   ...   ...    ...  ...     ...   ...         ...
228       13.28  2.72  Male     No  Sat  Dinner     2    0.204819
231       15.69  3.00  Male    Yes  Sat  Dinner     3    0.191205
232       11.61  3.39  Male     No  Sat  Dinner     2    0.291990
234       15.53  3.00  Male    Yes  Sat  Dinner     2    0.193175
239       29.03  5.92  Male     No  Sat  Dinner     3    0.203927

[107 rows x 8 columns]

In [173]:
bigger_ratio = tips[tips.tip_ration > tips.tip_ration.mean()]
bigger_ratio.sex.value_counts()

sex
Male      66
Female    41
Name: count, dtype: int64

In [176]:
tips.sex.value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [175]:
bigger_ratio.sex.value_counts() / tips.sex.value_counts()

sex
Male      0.420382
Female    0.471264
Name: count, dtype: float64

# titanic 데이터셋

In [177]:
titanic = sns.load_dataset('titanic')

In [178]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

titanic 데이터프레임 컬럼

* survived : 생존 여부(0 = 사망, 1 = 생존)
    * alive 컬럼과 같은 내용(no = 사망, yes = 생존)
* pclass : 객실 등급
    * class 컬럼과 같은 내용(1 = First, 2 = Second, 3 = Third)
* sex : 성별(male/female)
* who : 성인남성(man), 성인여성(woman), 어린이(child)
* adult_male : 성인 남성 여부(True/False)
* age : 나이
* sibsp : 동승한 형제자매 또는 배우자의 수
* parch : 동승한 부모 또는 자녀의 수
* alone : 혼자 탑승했는지 여부(True/False)
* fare : 탑승권 가격. 운임.
* embarked : 정박지 약어
* embark_town : 정박지

In [180]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

## 카테고리 (범주) 타입 변수 분석

In [183]:
titanic.survived.value_counts()

survived
0    549
1    342
Name: count, dtype: int64

In [188]:
titanic.alive.value_counts()

alive
no     549
yes    342
Name: count, dtype: int64

In [192]:
titanic.sex.value_counts()

sex
male      577
female    314
Name: count, dtype: int64

In [196]:
titanic.who.value_counts()

who
man      537
woman    271
child     83
Name: count, dtype: int64

In [197]:
titanic.pclass.value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [341]:
titanic['class'].value_counts()     # titanic.class는 사용 불가. 기존에 설정된 메서드와 이름이 동일하면
                                    # 메서드가 우선순위가 되어 .class와 같은 경우는 사용할 수 없음.

class
Third     491
First     216
Second    184
Name: count, dtype: int64

In [206]:
titanic.embark_town.value_counts()

embark_town
Southampton    644
Cherbourg      168
Queenstown      77
Name: count, dtype: int64

In [205]:
titanic.embarked.value_counts()

embarked
S    644
C    168
Q     77
Name: count, dtype: int64

## 성별 생존자 비율

In [260]:
# 성인 남성/ 성인 여성/ 어린이 생존자 비율
# who, survived, alive
sur = titanic[titanic.alive== 'yes']  # 생존자들만 저장된 DataFrame
sur.who.value_counts()  # 205, 88, 49

who
woman    205
man       88
child     49
Name: count, dtype: int64

In [262]:
titanic.who.value_counts()  # 537, 271, 83

who
man      537
woman    271
child     83
Name: count, dtype: int64

In [263]:
sur.who.value_counts() / titanic.who.value_counts()

who
child    0.590361
man      0.163873
woman    0.756458
Name: count, dtype: float64

## 객실 등급별 생존 비율

In [268]:
titanic.head()
survive = titanic[titanic.alive == 'yes']   # 생존자 DF
survive.pclass.value_counts()

pclass
1    136
3    119
2     87
Name: count, dtype: int64

In [270]:
titanic.pclass.value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [271]:
survive.pclass.value_counts() / titanic.pclass.value_counts()

pclass
1    0.629630
2    0.472826
3    0.242363
Name: count, dtype: float64

## 각 객실 등급(First, Second, Third)에서 남성/ 여성/ 어린이 생존 비율

In [296]:
# 1등급 객실 생존자
first = titanic[(titanic.pclass == 1) & (titanic.survived == 1)]
print(first.who.value_counts())

first_all = titanic[titanic.pclass == 1]
print(first_all.who.value_counts())

res_first = first.who.value_counts() / first_all.who.value_counts()
res_first

who
woman    89
man      42
child     5
Name: count, dtype: int64
who
man      119
woman     91
child      6
Name: count, dtype: int64

who
child    0.833333
man      0.352941
woman    0.978022
Name: count, dtype: float64

In [297]:
# 2등급 객실 생존자
second = titanic[(titanic.pclass == 2) & (titanic.survived == 1)]
print(second.who.value_counts())

second_all = titanic[titanic.pclass == 2]
print(second_all.who.value_counts())

res_second = second.who.value_counts() / second_all.who.value_counts()
res_second

who
woman    60
child    19
man       8
Name: count, dtype: int64
who
man      99
woman    66
child    19
Name: count, dtype: int64

who
child    1.000000
man      0.080808
woman    0.909091
Name: count, dtype: float64

In [298]:
# 3등급 객실 생존자
third = titanic[(titanic.pclass == 3) & (titanic.survived == 1)]
print(third.who.value_counts())

third_all = titanic[titanic.pclass == 3]
print(third_all.who.value_counts())

res_third = third.who.value_counts() / third_all.who.value_counts()
res_third

who
woman    56
man      38
child    25
Name: count, dtype: int64
who
man      319
woman    114
child     58
Name: count, dtype: int64

who
child    0.431034
man      0.119122
woman    0.491228
Name: count, dtype: float64

In [304]:
print(38 / 319)
319 + 114 + 58

0.11912225705329153

491

In [292]:
titanic.pclass.value_counts()

pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [308]:
titanic[['pclass', 'who']].value_counts()

pclass  who
3       man      319
1       man      119
3       woman    114
2       man       99
1       woman     91
2       woman     66
3       child     58
2       child     19
1       child      6
Name: count, dtype: int64

In [310]:
survive[['pclass', 'who']].value_counts()

pclass  who
1       woman    89
2       woman    60
3       woman    56
1       man      42
3       man      38
        child    25
2       child    19
        man       8
1       child     5
Name: count, dtype: int64

In [312]:
# 한 줄로 끝내기...!?
survive[['pclass', 'who']].value_counts() / titanic[['pclass', 'who']].value_counts()

pclass  who
1       child    0.833333
        man      0.352941
        woman    0.978022
2       child    1.000000
        man      0.080808
        woman    0.909091
3       child    0.431034
        man      0.119122
        woman    0.491228
Name: count, dtype: float64

In [314]:
pclass1 = titanic[titanic.pclass == 1]
pclass1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
6,0,1,male,54.0,0,0,51.8625,S,First,man,True,E,Southampton,no,True
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True

In [317]:
# alive_pclass1 = titanic[(titanic.alive == 'yes') & (titanic.pclass == 1)]
alive_pclass1 = pclass1[pclass1.alive == 'yes']
alive_pclass1.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
11,1,1,female,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True
23,1,1,male,28.0,0,0,35.5000,S,First,man,True,A,Southampton,yes,True
31,1,1,female,NaN,1,0,146.5208,C,First,woman,False,B,Cherbourg,yes,False

In [319]:
alive_pclass1.who.value_counts()

who
woman    89
man      42
child     5
Name: count, dtype: int64

In [321]:
pclass1.who.value_counts()

who
man      119
woman     91
child      6
Name: count, dtype: int64

In [323]:
alive_pclass1.who.value_counts() / pclass1.who.value_counts()

who
child    0.833333
man      0.352941
woman    0.978022
Name: count, dtype: float64

In [348]:
# for문 사용
for c in sorted(titanic.pclass.unique()):   # sorted()를 사용해 새로운 리스트를 반환. (원본 훼손 x)
    result = titanic[(titanic.pclass == c) & (titanic.survived == 1)].who.value_counts() / titanic[titanic.pclass == c].who.value_counts()
    print(f'--- class {c} ---')
    print(result)

--- class 1 ---
who
child    0.833333
man      0.352941
woman    0.978022
Name: count, dtype: float64
--- class 2 ---
who
child    1.000000
man      0.080808
woman    0.909091
Name: count, dtype: float64
--- class 3 ---
who
child    0.431034
man      0.119122
woman    0.491228
Name: count, dtype: float64

In [339]:
# 오쌤
for c in range(1, 4):
    print(f'--- class {c} ---')
    subset = titanic[titanic.pclass == c]   # 객실 등급의 승객
    alive_subset = subset[subset.alive == 'yes']    # 객실에서 생존자
    print(alive_subset.who.value_counts() / subset.who.value_counts())

--- class 1 ---
who
child    0.833333
man      0.352941
woman    0.978022
Name: count, dtype: float64
--- class 2 ---
who
child    1.000000
man      0.080808
woman    0.909091
Name: count, dtype: float64
--- class 3 ---
who
child    0.431034
man      0.119122
woman    0.491228
Name: count, dtype: float64